term = xterm-256color
theme = Catppuccin Mocha
cursor-color = f5e0dc
cursor-text = 1e1e2e
cursor-style = block
font-family = JetBrainsMono Nerd Font
font-feature = -liga,-calt,-dlig
font-size = 14
font-thicken = true
cursor-style = block
cursor-style-blink = false
unfocused-split-opacity = 0.6
split-divider-color = #524f67

adjust-cell-height = 20%
adjust-cursor-thickness = 2

background-opacity = 0.84
background-blur-radius = 80

window-decoration = auto
confirm-close-surface = false
window-padding-x = 20
window-padding-y = 10
mouse-hide-while-typing = true
window-padding-balance = true
maximize = true

{{- if eq .chezmoi.os "darwin" }}
macos-option-as-alt = true
macos-icon = xray
macos-titlebar-style = hidden
{{- end }}

# Keybinds
keybind = ctrl+shift+m=toggle_maximize
keybind = alt+backspace=text:\x1b\x7f
keybind = ctrl+space>c=new_tab
keybind = ctrl+space>n=new_window
keybind = ctrl+space>x=close_surface
keybind = ctrl+space>1=goto_tab:1
keybind = ctrl+space>2=goto_tab:2
keybind = ctrl+space>3=goto_tab:3
keybind = ctrl+space>4=goto_tab:4
keybind = ctrl+space>5=goto_tab:5
keybind = ctrl+space>6=goto_tab:6
keybind = ctrl+space>7=goto_tab:7
keybind = ctrl+space>8=goto_tab:8
keybind = ctrl+space>9=goto_tab:9
keybind = ctrl+space>\=new_split:right
keybind = ctrl+space>-=new_split:down
keybind = ctrl+space>e=equalize_splits
keybind = ctrl+space>h=goto_split:left
keybind = ctrl+space>j=goto_split:bottom
keybind = ctrl+space>k=goto_split:top
keybind = ctrl+space>l=goto_split:right
