{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle --file=/dev/stdin <<EOF
brew "git"
brew "lazygit"
brew "git-delta"
brew "cmake"
brew "ripgrep"
brew "bat"
brew "eza"
brew "mole"
brew "fzf"
brew "fd"
brew "tmux"
brew "yq"
brew "jq"
brew "tmux"
brew "zoxide"
brew "neovim"
brew "mise"
brew "ollama"
cask "orbstack"
cask "bitwarden"
cask "ghostty"
cask "google-chrome"
cask "mac-mouse-fix"
cask "zed"
cask "visual-studio-code"
cask "xkey"
tap "kunkka19xx/tap", trusted: true
cask "kunkka19xx/tap/look", trusted: true
cask "phpstorm"
EOF
{{- end }}
