{{ if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) -}}
#!/bin/bash
if ! [[ -f "/Library/Apple/usr/share/rosetta/rosetta" ]]; then
  softwareupdate --install-rosetta --agree-to-license
fi
{{ end -}}
